USE [master]
GO
/****** Object:  Database [CountryCityManagementDb]    Script Date: 20/03/2015 18:25:13 ******/
CREATE DATABASE [CountryCityManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryCityManagementDb', FILENAME = N'E:\ASP.NET\Project 4 job\CountryCityApp\Db\CountryCityManagementDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryCityManagementDb_log', FILENAME = N'E:\ASP.NET\Project 4 job\CountryCityApp\Db\CountryCityManagementDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryCityManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryCityManagementDb]
GO
/****** Object:  Table [dbo].[t_Country]    Script Date: 20/03/2015 18:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[about] [nvarchar](max) NOT NULL,
	[picture] [varchar](50) NULL,
 CONSTRAINT [PK_t_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_t_Country]    Script Date: 20/03/2015 18:25:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_t_Country] ON [dbo].[t_Country]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
